.gradient_bg {
  background-color: #BFC0C2;
}

#footer{
    bottom: 0;
}
.header{
	height: 30%;
}
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
  }
  nav{
    background-color: #BFC0C2;
    color: #BFC0C2;
    font-weight: bolder;
  }
  #main{
    margin-top: 80px;
  }
  h5{
    color:#BFC0C2;
  }
  .rounded{
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .row{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

  }
  .test{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .first{
    padding-top: 20px;
  }
  .last{
    padding-bottom: 20px;
  }
  .logo{
    max-width: 100%;
    height: auto;
  }