.gradient_bg {
	background: #DCF2F1;
}
#footer{
    bottom: 0;
}
.header{
	height: 30%;
}
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
  }
  nav{
    background-color: #DCF2F1;
    color: aquamarine;
  }